<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adjk.greetings">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9988502421036648~9886917866"/>
        <activity android:name=".Good"
            android:screenOrientation="portrait" />
        <activity android:name=".Christmas"
            android:screenOrientation="portrait"/>
        <activity android:name=".Eid"
            android:screenOrientation="portrait"/>
        <activity android:name=".Diwali"
            android:screenOrientation="portrait"/>
        <activity android:name=".Holi"
            android:screenOrientation="portrait"/>
        <activity android:name=".Mother"
            android:screenOrientation="portrait"/>
        <activity android:name=".Father"
            android:screenOrientation="portrait"/>
        <activity android:name=".Daughter"
            android:screenOrientation="portrait"/>
        <activity android:name=".Son"
            android:screenOrientation="portrait"/>
        <activity android:name=".General"
            android:screenOrientation="portrait"/>
        <activity android:name=".Occasions"
            android:screenOrientation="portrait"/>
        <activity android:name=".Congratulate"
            android:screenOrientation="portrait"/>
        <activity android:name=".Anniversary"
            android:screenOrientation="portrait"/>
        <activity android:name=".Birthday"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>